<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if logged_in? %>
        <h3>current time: <%= Time.now %></h3>
        <h3>upcoming appointments: </h3>
        <% if time_diff.empty? %>
          <p>none</p>
        <% else %>
          <ul>
            <% time_diff.each do |appt| %>
              <li><%= appt %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>  
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>